<% unless comment.archived? %>
    <p>
        <strong>Commenter:</strong>
        <%= comment.commenter %>
    </P>
    <p>
        <strong>Comment:</strong>
        <%= comment.body %>
    </p>
<% end %>